/**
 * -- General
 */

$spacer: 1rem;
$border-radius: 6px;
$box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

/**
 * -- Colors
 */

$color-primary: #3c455c;
$color-secondary: #eef3f2;
$color-tertiary: #b37c57;
$color-note: lighten($color-primary, 60);
$color-warning: #e7c000;
$color-danger: #c00;
$color-text: #424242;
$color-foreground: #FFF;
$color-background: $color-secondary;
$color-light: lighten($color-text, 40);
$color-links: $color-tertiary;
$color-divider: lighten($color-text, 60);

/**
 * -- Fonts
 */

// Set the global font family using the Native font stack
// See: https://getbootstrap.com/docs/4.5/content/reboot/#native-font-stack
// See: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family: 
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size: 16px;
$font-size-small: .85rem;
$font-size-big: 1.15rem;
$font-size-monospace: $font-size-small;

$line-height: 1.8;
$line-height-monospace: 1.4;

$font-weight-text: 400;
$font-weight-heading: 200;

/**
 * -- Responsive behavior
 */
$breakpoints: (
  xs: 0,
  sm: $spacer * 36,
  md: $spacer * 48,
  lg: $spacer * 62,
  xl: $spacer * 75
);

$container-max-width: (
  sm: $spacer * 34,
  md: $spacer * 46,
  lg: $spacer * 60,
  xl: $spacer * 73
);

$grid-columns: 12;
$grid-gutter-width: $spacer * 2;
$grid-row-columns: 6;

$container-padding-x: $grid-gutter-width / 2;